{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<main>
  <section class="section">
    <!-- This section should clearly layout what I'm good at and what I want to be doing day to day -->
    <div class="container text-center">

      <h2>Buoyant Vid Test</h2>

    </div>
  </section>
  <section class="section text-center">
    <!-- This section should talk about my past experience -->

    <video width="660" height="500" style="pointer-events: none" playsinline autoplay loop muted>
      <source src="buoyant-home-hero.mp4" type="video/mp4">
      <source src="buoyant-home-hero.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <video width="660" height="500" style="pointer-events: none" playsinline autoplay loop muted>
      <source src="buoyant-home-hero-compressed.mp4" type="video/mp4">
      <source src="buoyant-home-hero.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

  </section>


</main>


{% endblock %}
