{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<main>
  <section class="section">
    <!-- This section should clearly layout what I'm good at and what I want to be doing day to day -->
    <div class="container text-center">
      <div class="stw p-relative">
        <h1>
          <span class="resize d-block" style="padding: 0 20%;">Jake</span>
          <span class="resize d-block">Fleming</span>
        </h1>
        <h2>Product Designer</h2>
      </div>
      <p class="lead">
        I design products and create things with a lot of personality.
      </p>
    </div>
  </section>
  <section class="section">
    <!-- This section should talk about my past experience -->
    <div class="container">
      <h4 class="text-center">A little</h4>
      <div class="stw p-relative">
        <h3 class="text-center resize">About me</h3>
      </div>
      <div class="sprite-window" style="margin-top: -60px;margin-bottom: 2rem;">
        <div class="particle-rig"><div class="particle"></div></div>
        <div class="particle-rig"><div class="particle"></div></div>
        <div class="particle-rig"><div class="particle"></div></div>
        <div class="particle-rig"><div class="particle"></div></div>
        <div class="particle-rig"><div class="particle"></div></div>
        <div class="rig rig-csshtml">
          <div class="csshtml-walking"></div>
        </div>
        <div class="rig rig-artdesign">
          <div class="artdesign-crawling"></div>
        </div>
        <div class="rig rig-guy">
          <div class="guy-jogging"></div>
        </div>
        <div class="rig rig-js">
          <div class="js-flying"></div>
        </div>
        <div class="rig rig-sanity">
          <div class="sanity-hopping"></div>
        </div>
        <div class="rig rig-perfection">
          <div class="perfection-walking"></div>
        </div>
      </div>
      <div class="master-meter">
        <div class="mastered"></div>
        <div class="not-mastered"></div>
        <div class="master-line"></div>
      </div>
      <p>I'm a product designer with a knack for <a href="https://dribbble.com/shots/2587339-Mega-Turd">illustration</a> and <a href="https://dribbble.com/shots/2415798-Kitty-Wiggle-Pt-2">animation</a>. Initially starting my career as a graphic designer, I hopped from startup to startup, quickly advancing into roles which enabled me to learn a bucket of skills that we now call product design.</p>
      <!-- <div class="lookatme">
        <p class="m-0">I design products. <a href="#">Read a case study of my product design experience.</a></p>
      </div> -->
      <p>I've also always been an advocate for sharing skills with others–whether it was creating <a href="https://teamtreehouse.com/library/mobile-game-design">an online course on how to design a game</a> or creating <a href="https://medium.com/type-thursday/create-your-own-font-in-48-hours-f1d42f911a51">an event where people could learn type design</a>.</p>
      <p>For three years, I had the pleasure of running the <a href="http://tradecraft.com/">product design program at Tradecraft</a>, where I and a team of other talented instructors trained over 350 highly motivated and talented people to work as product designers in the San Francisco Bay Area at companies like Google, Facebook, Airbnb, and Tesla.</p>
      <!-- <div class="lookatme">
        <p class="m-0">I manage designers. <a href="#">Read about my experience managing Product Designers.</a></p>
      </div> -->
      <p>For more of my work history, take a look at my <a href="https://www.linkedin.com/in/jakeflem/">Linkedin</a>.</p>
    </div>
  </section>
  <!-- <section class="section">
    <div class="container">
      <h4 class="text-center">My professional</h4>
      <div class="stw">
        <h3 class="text-center resize">Qualities</h3>
      </div>
      <ul>
        <li>I create super polished visual designs (UI).</li>
        <li>I solve hard problems and have good intuition for how people use products (UX).</li>
        <li>I write production-level code in HTML + CSS + basic Javascript.</li>
        <li>I care about the business needs, implications, and possibilities of my designs.</li>
        <li>I have strong beliefs, but am a good listener who likes to collaborate.</li>
        <li>I tell stories using both words and visuals, and plan the best way to make my point.</li>
        <li>I enjoy mentoring and teaching team members what I've learned.</li>
        <li>I love illustrating and animating graphics when I get the chance!</li>
      </ul>
    </div>
  </section> -->
  <section class="section">
    <div class="container">
      <h4 class="text-center">My latest</h4>
      <div class="stw">
        <h3 class="text-center resize">Projects</h3>
      </div>
      <ul>
        <li><a href="https://store.steampowered.com/app/858530/Cat_Lady/">Cat Lady</a> - An adorable procedural dungeon crawler</li>
        <li><a href="https://2x2.xyz">2x2</a> - A productivity app based on priority matrices built with firebase and vue</li>
        <li><a href="https://designercize.com">Designercize</a> - A product design challenge tool</li>
        <li><a href="https://idiotproofed.com">Idiot Proofed</a> - A font proofing app for type designers</li>
        <li><a href="https://www.futurefonts.xyz/jake-fleming/boxout">Boxout</a> - A typeface</li>
        <li><a href="https://www.futurefonts.xyz/jake-fleming/goiters">Goiters</a> - Another typeface</li>
      </ul>
    </div>
  </section>
  <section class="section">
    <!-- This section should talk about what I'm currently doing and why -->
    <div class="container">
      <h4 class="text-center">Currently designing @</h4>
      <div class="stw">
        <h3 class="text-center resize">Labelbox</h3>
      </div>
      <p class="text-center">If you're interested in working with me at <a href="https://labelbox.com">Labelbox</a>, please get in touch!</p>
      <!-- <ul>
        <li>Working on each feature from idea to UX to pixel-perfect execution.</li>
        <li>Polishing each feature in HTML, CSS, and crappy JS.</li>
        <li>Using data from Community & Support teams to plan and scope the product roadmap.</li>
        <li>Creating design systems that are simple to understand.</li>
        <li>Working with marketing to devise new ways to tell great stories.</li>
        <li>Mentoring fellow designers</li>
      </ul> -->
      <p class="text-center">
        <a class="btn btn-primary btn-lg btn-wide-mobile" href="https://www.linkedin.com/in/jakeflem/">Get In Touch</a>
      </p>
    </div>
  </section>

</main>


{% endblock %}
